<ion-header>
  <ion-navbar>
    <ion-title>
Aluno
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <form [formGroup]="formGroup" class="form-simples" >
   
    <ion-item no-lines>
      <ion-label class="titulo_h2">
        <h2>Dados Pessoais</h2>
      </ion-label>
    </ion-item>

   <ion-item>
      <ion-label floating >Nome*:</ion-label>
      <ion-input type="text" name="nome" formControlName="nome" [(ngModel)]="model.nome"></ion-input>
    </ion-item>
    <ion-item *ngIf="nome.hasError('required') && nome.touched">
      <p>*Nome é obrigatório.</p>
    </ion-item>
    <ion-item *ngIf="nome.hasError('maxlength') && nome.touched">
      <p>*Nome muito extenso.</p>
    </ion-item>

    <ion-item>
      <ion-label >Data de Nascimento*:</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" pickerFormat="DD/MMM/YYYY" cancelText="Cancelar" 
      doneText="Ok" name="dataNascimento" formControlName="dataNascimento" [(ngModel)]="model.dataNascimento" 
      monthShortNames="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="dataNascimento.hasError('required') && dataNascimento.touched">
      <p>*Data de Nascimento é obrigatório.</p>
    </ion-item>

    <ion-item>
      <ion-label>Série<strong>*</strong>:</ion-label>
      <ion-select cancelText="Cancelar" okText="Ok" name="serie" [(ngModel)]="model.serie" formControlName='serie'>
        <ion-option value="1">1º ano</ion-option>
        <ion-option value="2">2º ano</ion-option>
        <ion-option value="3">3º ano</ion-option>
        <ion-option value="4">4º ano</ion-option>
        <ion-option value="5">5º ano</ion-option>
        <ion-option value="6">6º ano</ion-option>
        <ion-option value="7">7º ano</ion-option>
        <ion-option value="8">8º ano</ion-option>
        <ion-option value="9">9º ano</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="serie.hasError('required') && serie.touched">
      <p>*Série é obrigatório</p>
    </ion-item>

    <ion-item>
      <ion-label class="titulo_h2">
        <p>
          <h2>Endereço</h2>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>CEP<strong>*</strong>:</ion-label>
      <ion-input [brmasker]="{mask:'00.000-000', type:'num', len:10}" type="text" inputmode="text" name="cep"
        formControlName="cep" [(ngModel)]="model.cep"></ion-input>
    </ion-item>
    <ion-item *ngIf="cep.hasError('required') && cep.touched">
      <p>*CEP é obrigatório</p>
    </ion-item>
    <ion-item>
      <ion-label>Rua<strong>*</strong>:</ion-label>
      <ion-input type="text" inputmode="text" formControlName="rua" name="rua" [(ngModel)]="model.rua"></ion-input>
    </ion-item>
    <ion-item *ngIf="rua.hasError('required') && rua.touched">
      <p>*Rua é obrigatório</p>
    </ion-item>
    <ion-item *ngIf="rua.hasError('maxlength') && rua.touched">
      <p>*Nome da rua muito extenso.</p>
    </ion-item>
    <ion-item>
      <ion-label>Número<strong>*</strong>:</ion-label>
      <ion-input type="text" [brmasker]="{type:'num'}" formControlName="numeroCasa" name="numero" [(ngModel)]="model.numeroCasa"></ion-input>
    </ion-item>
    <ion-item *ngIf="numeroCasa.hasError('required') && numeroCasa.touched">
      <p>*Número da Residência é obrigatório</p>
    </ion-item>

    <ion-item>
      <ion-label>Complemento:</ion-label>
      <ion-input formControlName="complemento" type="text" inputmode="text" name="complemento" [(ngModel)]="model.complemento"></ion-input>
    </ion-item>
    <ion-item *ngIf="complemento.hasError('maxlength') && complemento.touched">
      <p>*Complemento é muito extenso.</p>
    </ion-item>
    <ion-item>
      <ion-label>Bairro<strong>*</strong>:</ion-label>
      <ion-input type="text" inputmode="text" formControlName="bairro" name="bairro" [(ngModel)]="model.bairro"></ion-input>
    </ion-item>
    <ion-item *ngIf="bairro.hasError('required') && bairro.touched">
      <p>*Bairro é obrigatório</p>
    </ion-item>
    <ion-item *ngIf="bairro.hasError('maxlength') && bairro.touched">
      <p>*Bairro é muito extenso.</p>
    </ion-item>
    <ion-item>
      <ion-label>Cidade<strong>*</strong>:</ion-label>
      <ion-input type="text" formControlName="cidade" name="cidade" [(ngModel)]="model.cidade"></ion-input>
    </ion-item>
    <ion-item *ngIf="cidade.hasError('required') && cidade.touched">
      <p>*Cidade é obrigatório</p>
    </ion-item>
    <ion-item *ngIf="cidade.hasError('maxlength') && cidade.touched">
      <p>*Cidade é muito extenso</p>
    </ion-item>
    <ion-item>
      <ion-label >Estado<strong>*</strong>:</ion-label>
      <ion-select  text-wrap cancelText="Cancelar" okText="Ok" formControlName="estado" name="estado" [(ngModel)]="model.estado">
        <ion-option value="AC">Acre</ion-option>
        <ion-option value="AL">Alagoas</ion-option>
        <ion-option value="AP">Amapá</ion-option>
        <ion-option value="AM">Amazonas</ion-option>
        <ion-option value="BA">Bahia</ion-option>
        <ion-option value="CE">Ceará</ion-option>
        <ion-option value="DF">Distrito Federal</ion-option>
        <ion-option value="ES">Espírito Santo</ion-option>
        <ion-option value="GO">Goiás</ion-option>
        <ion-option value="MA">Maranhão</ion-option>
        <ion-option value="MT">Mato Grosso</ion-option>
        <ion-option value="MS">Mato Grosso do Sul</ion-option>
        <ion-option value="MG">Minas Gerais</ion-option>
        <ion-option value="PA">Pará</ion-option>
        <ion-option value="PB">Paraíba</ion-option>
        <ion-option value="PR">Paraná</ion-option>
        <ion-option value="PE">Pernambuco</ion-option>
        <ion-option value="PI">Piauí</ion-option>
        <ion-option value="RJ">Rio de Janeiro</ion-option>
        <ion-option value="RN">Rio Grande do Norte</ion-option>
        <ion-option value="RS">Rio Grande do Sul</ion-option>
        <ion-option value="RO">Rondônia</ion-option>
        <ion-option value="RR">Roraima</ion-option>
        <ion-option value="SC">Santa Catarina</ion-option>
        <ion-option value="SP">São Paulo</ion-option>
        <ion-option value="SE">Sergipe</ion-option>
        <ion-option value="TO">Tocantins</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="estado.hasError('required') && estado.touched">
      <p>*Estado é obrigatório</p>
    </ion-item>

    <ion-item class="titulo_h2">
      <h2>Dados da Mãe</h2>
    </ion-item>

    <ion-item>
      <ion-label floating>Nome da Mãe<strong>*</strong>:</ion-label>
      <ion-input type="text" formControlName="nomeMae" name="nomeMae" [(ngModel)]="model.nomeMae"></ion-input>
    </ion-item>
    <ion-item *ngIf="nomeMae.hasError('required') && nomeMae.touched">
      <p>*Nome da mãe é obrigatório</p>
    </ion-item>
    <ion-item *ngIf="nomeMae.hasError('maxlength') && nomeMae.touched">
      <p>*Nome da mãe é muito extenso</p>
    </ion-item>
    <ion-item>
      <ion-label>CPF da Mãe<strong>*</strong>:</ion-label>
      <ion-input type="text" formControlName="cpfMae" name="cpfMae" [brmasker]="{mask:'000.000.000-00', len:14, type:'num'}"
        [(ngModel)]="model.cpfMae"></ion-input>
    </ion-item>
    <ion-item *ngIf="cpfMae.hasError('required') && cpfMae.touched">
      <p>*CPF da mãe é obrigatório</p>
    </ion-item>
    <ion-item>
      <ion-label>Dia para pagamento<strong>*</strong>:</ion-label>
      <ion-input type="text" formControlName="diaPagamento" name="diaPagamento" [brmasker]="{type:'num', len:2}"
        [(ngModel)]="model.diaPagamento"></ion-input>
      <ion-item *ngIf="diaPagamento.hasError('required') && diaPagamento.touched">
        <p>*Dia do Pagamento é obrigatório</p>
      </ion-item>
      <ion-item *ngIf="diaPagamento.hasError('max') && diaPagamento.touched">
        <p>*Informe um dia válido!</p>
      </ion-item>
      <ion-item *ngIf="diaPagamento.hasError('min') && diaPagamento.touched">
        <p>*Informe um dia válido!</p>
      </ion-item>
    </ion-item>
    <ion-item>
      <h6>*Itens Obrigatórios</h6>
    </ion-item>
    <ion-item>
      <button ion-button block [disabled]="formGroup.invalid" (click)="salvar()">Salvar</button>
    </ion-item>
</form>
</ion-content>