<ion-header>
  <ion-navbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup">
    <ion-item>
      <ion-label floating>Nome<strong>*</strong>:</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="aluno.nome" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item *ngIf="nome.hasError('required') && nome.touched">
      <p>*Nome é obrigatório.</p>
    </ion-item>
  <ion-item>
    <ion-label>Data de Nascimento<strong>*</strong>:</ion-label>
    <ion-datetime display-format="DD/MM/YYYY" pickerFormat="DD/MMM/YYYY" cancelText="Cancelar" 
    doneText="Ok" name="data" formControlName="data"
      [(ngModel)]="aluno.data" monthShortNames="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"></ion-datetime>
  </ion-item>
  <ion-item *ngIf="data.hasError('required') && data.touched">
    <p>*Data de Nascimento é obrigatório.</p>
  </ion-item>

  <ion-item>
    <ion-label>Série<strong>*</strong>:</ion-label>
    <ion-select cancelText="Cancelar" okText="Ok" name="serie" 
    [(ngModel)]="aluno.serie" formControlName='serie'>
      <ion-option value="1">1º ano</ion-option>
      <ion-option value="2">2º ano</ion-option>
      <ion-option value="3">3º ano</ion-option>
      <ion-option value="4">4º ano</ion-option>
      <ion-option value="5">5º ano</ion-option>
      <ion-option value="6">6º ano</ion-option>
      <ion-option value="7">7º ano</ion-option>
      <ion-option value="8">8º ano</ion-option>
      <ion-option value="9">9º ano</ion-option>
    </ion-select>
  </ion-item>
    <ion-item *ngIf="serie.hasError('required') && serie.touched">
      <p>*Série é obrigatório</p>
    </ion-item>
  <ion-item>
    <ion-label>
      <h1>Endereço</h1>
    </ion-label>
  </ion-item>
  <ion-item>

    <ion-label>CEP<strong>*</strong>:</ion-label>
    <ion-input type="text" inputmode="text" name="cep" formControlName="cep" [(ngModel)]="aluno.cep"></ion-input>
  </ion-item>
  <ion-item *ngIf="cep.hasError('required') && cep.touched">
    <p>*CEP é obrigatório</p>
  </ion-item>
  <ion-item>
    <ion-label>Rua<strong>*</strong>:</ion-label>
    <ion-input type="text" inputmode="text" formControlName="rua" name="rua" [(ngModel)]="aluno.rua"></ion-input>
  </ion-item>
  <ion-item *ngIf="rua.hasError('required') && rua.touched">
    <p>*Rua é obrigatório</p>
  </ion-item>
  <ion-item>
    <ion-label>Número<strong>*</strong>:</ion-label>
    <ion-input type="text" inputmode="numeric" formControlName="numeroCasa" name="numero" [(ngModel)]="aluno.numeroCasa"></ion-input>
  </ion-item>
  <ion-item *ngIf="numeroCasa.hasError('required') && numeroCasa.touched">
    <p>*Número da Residência é obrigatório</p>
  </ion-item>
  <ion-item>
    <ion-label>Complemento:</ion-label>
    <ion-input [ngModelOptions]="{standalone: true}" type="text" inputmode="text" name="complemento" [(ngModel)]="aluno.complemento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Bairro<strong>*</strong>:</ion-label>
    <ion-input type="text" inputmode="text" formControlName="bairro" name="bairro" [(ngModel)]="aluno.bairro"></ion-input>
  </ion-item>
  <ion-item *ngIf="bairro.hasError('required') && bairro.touched">
    <p>*Bairro é obrigatório</p>
  </ion-item>
  <ion-item>
    <ion-label>Cidade<strong>*</strong>:</ion-label>
    <ion-input type="text" formControlName="cidade" name="cidade" [(ngModel)]="aluno.cidade"></ion-input>
  </ion-item>
  <ion-item *ngIf="cidade.hasError('required') && cidade.touched">
    <p>*Cidade é obrigatório</p>
  </ion-item>
  <ion-item>
    <ion-label>Estados<strong>*</strong>:</ion-label>
    <ion-select cancelText="Cancelar" okText="Ok" formControlName="estado" name="estado" [(ngModel)]="aluno.estado">
      <ion-option value="AC">Acre</ion-option>
      <ion-option value="AL">Alagoas</ion-option>
      <ion-option value="AP">Amapá</ion-option>
      <ion-option value="AM">Amazonas</ion-option>
      <ion-option value="BA">Bahia</ion-option>
      <ion-option value="CE">Ceará</ion-option>
      <ion-option value="DF">Distrito Federal</ion-option>
      <ion-option value="ES">Espírito Santo</ion-option>
      <ion-option value="GO">Goiás</ion-option>
      <ion-option value="MA">Maranhão</ion-option>
      <ion-option value="MT">Mato Grosso</ion-option>
      <ion-option value="MS">Mato Grosso do Sul</ion-option>
      <ion-option value="MG">Minas Gerais</ion-option>
      <ion-option value="PA">Pará</ion-option>
      <ion-option value="PB">Paraíba</ion-option>
      <ion-option value="PR">Paraná</ion-option>
      <ion-option value="PE">Pernambuco</ion-option>
      <ion-option value="PI">Piauí</ion-option>
      <ion-option value="RJ">Rio de Janeiro</ion-option>
      <ion-option value="RN">Rio Grande do Norte</ion-option>
      <ion-option value="RS">Rio Grande do Sul</ion-option>
      <ion-option value="RO">Rondônia</ion-option>
      <ion-option value="RR">Roraima</ion-option>
      <ion-option value="SC">Santa Catarina</ion-option>
      <ion-option value="SP">São Paulo</ion-option>
      <ion-option value="SE">Sergipe</ion-option>
      <ion-option value="TO">Tocantins</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="estado.hasError('required') && estado.touched">
    <p>*Estado é obrigatório</p>
  </ion-item>
  <ion-item>
    <ion-label floating>Nome da Mãe<strong>*</strong>:</ion-label>
    <ion-input type="text" formControlName="nomeMae" name="nomeMae" [(ngModel)]="aluno.nomeMae"></ion-input>
  </ion-item>
  <ion-item *ngIf="nomeMae.hasError('required') && nomeMae.touched">
    <p>*Nome da mãe é obrigatório</p>
  </ion-item>
  <ion-item>
    <ion-label>CPF da Mãe<strong>*</strong>:</ion-label>
    <ion-input type="text" formControlName="cpfMae" name="cpfMae" [(ngModel)]="aluno.cpfMae"></ion-input>
  </ion-item>
  <ion-item *ngIf="cpfMae.hasError('required') && cpfMae.touched">
    <p>*CPF da mãe é obrigatório</p>
  </ion-item>
  <ion-item>
    <ion-label>Dia para pagamento<strong>*</strong>:</ion-label>
    <ion-input type="text" formControlName="diaPagamento" name="diaPagamento" [(ngModel)]="aluno.diaPagamento"></ion-input>
    <ion-item *ngIf="diaPagamento.hasError('required') && diaPagamento.touched">
      <p>*Dia do Pagamento é obrigatório</p>
    </ion-item>
  </ion-item>
</form>
<ion-item>
  <button ion-button type="submit" block (click)="cadastrarAluno()">Cadastrar</button>
</ion-item>
</ion-content>