page-lista-aluno {
    


}
.removerAluno {
    float: right;
    margin-left: 230px;
}
.card-header{
    font-weight: bold;
    font-size: 20px;
}
    
.iconeEditar{
    margin-left: 20px;
}
.iconeRemover{
    margin-left: 20px;
}
.iconeVisualizar{
    margin-left: 160px;
}



